[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gensim = "*"
argparse = "*"
dpath = "*"
numpy = "*"
scipy = "*"
sklearn = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
